  <!-- Hero section -->
  <div class="relative bg-gray-900">
    <!-- Decorative image and overlay -->
    <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
      <img src="assets/images/heros/hero-banner1.jpg" alt="" class="w-full h-full object-center object-cover">
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-gray-900 opacity-50"></div>

    <div class="relative max-w-3xl mx-auto py-32 px-6 flex flex-col items-center text-center sm:py-52 lg:px-0">
      <h1 class="text-3xl font-extrabold tracking-tight text-white lg:text-5xl">BE AMAZED!</h1>
      <p class="mt-4 text-xl text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a href="#" class="mt-8 inline-block items-center justify-center bg-gradient-to-r from-amber-500 to-amber-500 bg-origin-border px-4 py-3 border border-transparent text-base font-medium rounded-sm shadow-sm text-white hover:from-amber-600 hover:to-amber-600">See More</a>
    </div>
  </div>
