<div class="max-w-7xl mx-auto">
  <h1 class="text-2xl font-semibold text-gray-900">Subscription</h1>
</div>



<div
  class="mt-4 space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-3">
  <div class="bg-orange-100 rounded-lg">
    <div class="p-6 text-center">
      <h2 class="text-2xl leading-6 font-medium text-gray-900 mt-7 mb-2">Premium</h2>
      <p class="text-2xl font-semibold text-gray-900">
        ₹ 20,000
      </p>
      <p class="mt-1 mb-2 text-gray-700 text-base">For one year</p>
      <p class="text-gray-700 text-base">Date of joining: 26 Dec 2021</p>
    </div>
    <div class="pb-8 px-6">
      <ul role="list" class="mt-7">
        <li class="py-3 flex items-center">
          <span class="text-gray-600 ml-3 text-sm font-medium w-2/4">Status</span>
          <span class="text-gray-600 ml-3 text-sm font-bold">Active</span>
        </li>
        <li class="py-3 flex items-center border-y border-orange-200">
          <span class="text-gray-600 ml-3 text-sm font-medium w-2/4">Mode of payment</span>
          <span class="text-gray-600 ml-3 text-sm font-bold">Net Banking</span>
        </li>
        <li class="py-3 flex items-center">
          <span class="text-gray-600 ml-3 text-sm font-medium w-2/4">Expires on</span>
          <span class="text-gray-600 ml-3 text-sm font-bold">25 Dec 2022</span>
        </li>
      </ul>
    </div>
  </div>
</div>
