<div class="max-w-7xl mx-auto">
  <h1 class="text-2xl font-semibold text-gray-900">Subscription</h1>
</div>



<div
  class="mt-4 space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-3">
  <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
    <div class="p-6">
      <h2 class="text-lg leading-6 font-medium text-gray-900">Premium</h2>
      <p class="">
        <span class="text-2xl font-semibold text-gray-900">
          ₹ 20,000
        </span>
      </p>
      <p class="mt-4 text-sm text-gray-700">For one year</p>
      <p class="text-sm text-gray-700">Date of joining: 26 Dec 2021</p>
    </div>
    <div class="pb-8 px-6">
      <ul role="list" class="border-gray-200 divide-gray-200 mt-7 border-t divide-y lg:border-t-0">
        <li class="py-3 flex items-center">
          <span class="text-gray-600 ml-3 text-sm font-medium">Status</span>
          <span class="text-gray-600 ml-3 text-sm font-bold">Active</span>
        </li>
        <li class="py-3 flex items-center">
          <span class="text-gray-600 ml-3 text-sm font-medium">Mode of payment</span>
          <span class="text-gray-600 ml-3 text-sm font-bold">Net Banking</span>
        </li>
        <li class="py-3 flex items-center">
          <span class="text-gray-600 ml-3 text-sm font-medium">Expires on</span>
          <span class="text-gray-600 ml-3 text-sm font-bold">25 Dec 2022</span>
        </li>
      </ul>
    </div>
  </div>
</div>
