/* ----------------------------------------------------------------------------------------------------- */
/*  @ Form fields
/* ----------------------------------------------------------------------------------------------------- */
:root {
--text-warn {
  --tw-text-opacity: 1 !important;
  color: rgba(var(--fuse-warn-rgb), var(--tw-text-opacity)) !important;
}

--text-hint{
  --tw-text-opacity: 1 !important;
  color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important;
}
}

/* Fuse only uses 'fill' style form fields and therefore */
/* only provides fixes and tweaks for that style */
.mat-form-field.mat-form-field-appearance-fill {
  [type='password']:focus, [type='text']:focus{
    border-color: transparent;
    box-shadow: none;
  }
   font-size: 0.875rem;
  /* Disabled */
  &.mat-form-field-disabled {
    opacity: 0.7 !important;
  }

  /* Invalid */
  &.mat-form-field-invalid {

    .mat-form-field-wrapper {

      /* Border color */
      .mat-form-field-flex {
        // @apply border-warn dark:border-warn #{'!important'};
        --tw-border-opacity: 1 !important;
        border-color: rgba((220,38,38), var(--tw-border-opacity)) !important;
      }
    }
  }

  /* Focused */
  &.mat-focused {

    .mat-form-field-wrapper {

      /* Background color */
      .mat-form-field-flex {
        // @apply bg-card dark:bg-card #{'!important'};
        --tw-bg-opacity: 1 !important;
    background-color: rgba((255,255,255), var(--tw-bg-opacity)) !important;
      }
    }
  }

  /* Focused and valid fields */
  &.mat-focused:not(.mat-form-field-invalid) {

    .mat-form-field-wrapper {

      /* Border color */
      .mat-form-field-flex {
        --tw-border-opacity: 1 !important;
        border-color: rgba(var(--fuse-primary-rgb), var(--tw-border-opacity)) !important;
        // @apply border-primary dark:border-primary #{'!important'};
      }
    }
  }

  /* Disable floating mat-label */
  &.mat-form-field-has-label.mat-form-field-can-float.mat-form-field-should-float {

    .mat-form-field-label-wrapper {

      .mat-form-field-label {
        width: 100% !important;
        transform: none !important;
      }
    }
  }

  /* Remove the default arrow for native select */
  &.mat-form-field-type-mat-native-select {

    .mat-form-field-infix {

      select {
        top: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-right: 18px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2364748B' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right -7px center;
        background-size: 24px;

        .dark & {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2397a6ba' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
        }
      }

      &:after {
        display: none;
      }
    }
  }

  /* Adjustments for mat-label */
  &.mat-form-field-has-label {

    .mat-form-field-wrapper {
      margin-top: 24px;
    }
  }

  /* Default style tweaks and enhancements */
  .mat-form-field-wrapper {
    margin-bottom: 12px;
    padding-bottom: 0;

    .mat-form-field-flex {
      position: relative;
      display: flex;
      align-items: stretch;
      min-height: 48px;
      border-radius: 3px;
      padding: 0 16px;
      border-width: 1px;
      --tw-border-opacity: 1 !important;
    border-color: rgb(203 213 225 / var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
      // @apply shadow-sm bg-white border-gray-300 dark:bg-black dark:bg-opacity-5 dark:border-gray-500 #{'!important'};

      .mat-form-field-prefix {

        >.mat-icon {
          margin-right: 12px;
        }

        >.mat-icon-button {
          margin: 0 4px 0 -10px;
        }

        >.mat-select {
          margin-right: 10px;
        }

        >.mat-datepicker-toggle {
          margin-left: -8px;
        }

        >*:not(.mat-icon):not(.mat-icon-button):not(.mat-select):not(.mat-datepicker-toggle) {
          margin-right: 12px;
        }
      }

      .mat-form-field-suffix {

        >.mat-icon {
          margin-left: 12px;
        }

        >.mat-icon-button {
          margin: 0 -10px 0 4px;
        }

        >.mat-select {
          margin-left: 10px;
        }

        >.mat-datepicker-toggle {
          margin-right: -8px;
        }
      }

      .mat-form-field-prefix,
      .mat-form-field-suffix {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        // @apply text-hint #{'!important'};
        --tw-text-opacity: 1 !important;
        color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important;

        .mat-icon-button {
          width: 40px;
          min-width: 40px;
          height: 40px;
          min-height: 40px;
        }

        .mat-icon,
        .mat-icon-button:not(.mat-button-disabled),
        .mat-select-value {
          // @apply text-hint;
          --tw-text-opacity: 1 !important;
          color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important;
        }

        /* Remove the margins from the mat-icon if it's inside a button */
        /* Force the icon size to 24 */
        .mat-button,
        .mat-raised-button,
        .mat-icon-button,
        .mat-stroked-button,
        .mat-flat-button,
        .mat-fab,
        .mat-mini-fab {

          .mat-icon {
            margin: 0 !important;
            // @apply icon-size-6;
            width: 1.5rem !important;
    height: 1.5rem !important;
    min-width: 1.5rem !important;
    min-height: 1.5rem !important;
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
          }
        }

        /* Datepicker default icon size */
        .mat-datepicker-toggle-default-icon {
          // @apply icon-size-6;
          width: 1.5rem !important;
          height: 1.5rem !important;
          min-width: 1.5rem !important;
          min-height: 1.5rem !important;
          font-size: 1.5rem !important;
          line-height: 1.5rem !important;
        }

        /* Make mat-select usable as prefix and suffix */
        .mat-select {
          display: flex;
          align-items: center;

          &:focus {

            .mat-select-trigger {

              .mat-select-value {
                // @apply text-primary #{'!important'};
                --tw-text-opacity: 1 !important;
    color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
              }

              .mat-select-arrow-wrapper {

                .mat-select-arrow {
                  border-top-color: var(--fuse-primary) !important;
                }
              }
            }
          }

          .mat-select-trigger {
            display: flex;
            align-items: center;

            .mat-select-value {
              display: flex;
              max-width: none;

              mat-select-trigger {

                .mat-icon {
                  margin: 0 !important;
                }
              }
            }

            .mat-select-arrow-wrapper {
              display: flex;
              align-items: center;
              transform: none;
              margin-left: 4px;

              .mat-select-arrow {
                min-height: 0;
                --tw-text-opacity: 1 !important;
                color: rgb(100 116 139 / var(--tw-text-opacity)) !important;
                // @apply text-gray-500 dark:text-gray-400 #{'!important'};
              }
            }
          }
        }
      }

      .mat-form-field-infix {
        position: static;
        display: flex;
        align-items: center;
        width: 88px;
        padding: 0;
        border: 0;

        .mat-input-element {
          padding: 14px 0;
          margin-top: 0;
        }

        /* Textarea */
        textarea.mat-input-element {
          display: flex;
          align-self: stretch;
          min-height: 36px;
          height: auto;
          margin: 14px 0;
          padding: 0 6px 0 0;
          transform: none;
        }

        /* Select */
        .mat-select {
          display: inline-flex;

          .mat-select-trigger {
            display: inline-flex;
            align-items: center;
            width: 100%;

            .mat-select-value {
              display: flex;
              position: relative;
              max-width: none;

              .mat-select-value-text {
                display: inline-flex;

                >* {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
          }

          .mat-select-arrow-wrapper {
            transform: translateY(0);

            .mat-select-arrow {
              margin: 0 0 0 8px;
            }
          }
        }

        /* Chips */
        .mat-chip-list {
          width: 100%;
          margin: 0 -8px;

          .mat-chip-input {
            margin: 0 0 0 8px;
          }
        }

        .mat-form-field-label-wrapper {
          top: -22px;
          height: auto;
          padding-top: 0;
          overflow: visible;
          pointer-events: auto;

          .mat-form-field-label {
            position: relative;
            top: 0;
            margin-top: 0;
            backface-visibility: hidden;
            transition: none;
            font-weight: 500;
            // @apply text-default #{'!important'};
            --tw-text-opacity: 1 !important;
    color: rgba((30,41,59), var(--tw-text-opacity)) !important;

          }
        }
      }
    }

    /* Remove the underline */
    .mat-form-field-underline {
      display: none;
    }

    /* Subscript tweaks */
    .mat-form-field-subscript-wrapper {
      position: relative;
      top: auto;
      padding: 0;
      margin-top: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;

      .mat-error,
      .mat-hint {
        display: block;
        margin-top: 4px;
      }

      .mat-hint {
        // @apply text-hint #{'!important'};
        --tw-text-opacity: 1 !important;
        color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important;
      }
    }
  }

  /* Adds better alignment for textarea inputs */
  &.fuse-mat-textarea {

    .mat-form-field-wrapper {

      .mat-form-field-flex {

        .mat-form-field-prefix,
        .mat-form-field-suffix {
          align-items: flex-start;
        }

        .mat-form-field-prefix {
          padding-top: 12px;
        }

        .mat-form-field-suffix {
          padding-top: 12px;
        }
      }
    }
  }

    /* Removes subscript space */
    &.fuse-mat-no-subscript {

      .mat-form-field-wrapper {
          padding-bottom: 0;
          margin-bottom: 0;

          .mat-form-field-subscript-wrapper {
              display: none !important;
              height: 0 !important;
          }
      }
  }

     /* Rounded  main -section*/
     &.fuse-mat-rounded {

      .mat-form-field-wrapper {

          .mat-form-field-flex {
              border-radius: 24px;
          }
      }

      /* Emphasized affix */
      &.fuse-mat-emphasized-affix {

          .mat-form-field-wrapper {

              .mat-form-field-flex {

                  .mat-form-field-prefix {
                      border-radius: 24px 0 0 24px;

                      > .mat-icon {
                          margin-right: 12px;
                      }

                      > .mat-icon-button {
                          margin-right: 2px;
                      }

                      > .mat-select {
                          margin-right: 8px;
                      }

                      > .mat-datepicker-toggle {
                          margin-right: 4px;
                      }

                      > *:not(.mat-icon):not(.mat-icon-button):not(.mat-select):not(.mat-datepicker-toggle) {
                          margin-right: 12px;
                      }
                  }

                  .mat-form-field-suffix {
                      border-radius: 0 24px 24px 0;

                      > .mat-icon {
                          margin-left: 12px !important;
                      }

                      > .mat-icon-button {
                          margin-left: 2px !important;
                      }

                      > .mat-select {
                          margin-left: 12px !important;
                      }

                      > .mat-datepicker-toggle {
                          margin-left: 4px !important;
                      }

                      > *:not(.mat-icon):not(.mat-icon-button):not(.mat-select):not(.mat-datepicker-toggle) {
                          margin-left: 12px !important;
                      }
                  }
              }
          }
      }
    }


     /* Dense main section name change fuse to cust */
     &.cust-mat-dense {

      .mat-form-field-wrapper {

          .mat-form-field-flex {
              min-height: 40px;

              .mat-form-field-prefix,
              .mat-form-field-suffix {

                  .mat-icon-button {
                      width: 32px;
                      min-width: 32px;
                      height: 32px;
                      min-height: 32px;
                  }
              }

              .mat-form-field-prefix {

                  > .mat-icon-button {
                      margin-left: -6px;
                      margin-right: 12px;
                  }
              }

              .mat-form-field-suffix {

                  > .mat-icon-button {
                      margin-left: 12px;
                      margin-right: -6px;
                  }
              }

              .mat-form-field-infix {

                  .mat-input-element {
                      padding: 11px 0;
                  }
              }
          }
      }

      /* Rounded */
      &.fuse-mat-rounded {

          .mat-form-field-wrapper {

              .mat-form-field-flex {
                  border-radius: 20px;
              }
          }

          /* Emphasized affix */
          &.fuse-mat-emphasized-affix {

              .mat-form-field-wrapper {

                  .mat-form-field-flex {

                      .mat-form-field-prefix {
                          border-radius: 20px 0 0 20px !important;
                      }

                      .mat-form-field-suffix {
                          border-radius: 0 20px 20px 0 !important;
                      }
                  }
              }
          }
      }
  }


      /* Bolder border width */
      &.fuse-mat-bold {

        .mat-form-field-wrapper {

            .mat-form-field-flex {
                border-width: 2px !important;
            }
        }
    }




}



/* ----------------------------------------------------------------------------------------------------- */
/*  @ Select
/* ----------------------------------------------------------------------------------------------------- */
.mat-select {
  display: inline-flex;

  .mat-select-placeholder {
      transition: none !important;
      // @apply text-hint;
      --tw-text-opacity: 1 !important;
      color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important;
  }

  .mat-select-trigger {
      display: inline-flex;
      align-items: center;
      width: 100%;
      height: auto;

      .mat-select-value {
          display: flex;
          position: relative;
          max-width: none;

          .mat-select-value-text {
              display: inline-flex;

              > * {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
              }
          }
      }
  }

  .mat-select-arrow-wrapper {
      transform: translateY(0);

      .mat-select-arrow {
          margin: 0 4px 0 2px;
      }
  }
}

/* Invalid */
.mat-form-field-invalid {

  .mat-select {

      /* Placeholder color */
      .mat-select-placeholder {
          // @apply text-warn;
          --tw-text-opacity: 1 !important;
          color: rgba(var(--fuse-warn-rgb), var(--tw-text-opacity)) !important;
      }
  }
}


/* ----------------------------------------------------------------------------------------------------- */
/*  @ Inputs
/* ----------------------------------------------------------------------------------------------------- */
.mat-input-element {

  &::placeholder {
      transition: none !important;
      // @apply text-hint;
      --tw-text-opacity: 1 !important;
      color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important;
  }

  &::-moz-placeholder {
      transition: none !important;
      // @apply text-hint;
      --tw-text-opacity: 1 !important;
      color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important;
  }

  &::-webkit-input-placeholder {
      transition: none !important;
      // @apply text-hint;
      --tw-text-opacity: 1 !important;
      color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important;
  }

  &:-ms-input-placeholder {
      transition: none !important;
      // @apply text-hint;
      --tw-text-opacity: 1 !important;
      color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important;
  }
}

/* Invalid */
.mat-form-field-invalid {

  .mat-input-element {

      /* Placeholder color */
      &::placeholder {
          // @apply text-warn;
          --tw-text-opacity: 1 !important;
          color: rgba(var(--fuse-warn-rgb), var(--tw-text-opacity)) !important;
      }

      &::-moz-placeholder {
          // @apply text-warn;
          --tw-text-opacity: 1 !important;
          color: rgba(var(--fuse-warn-rgb), var(--tw-text-opacity)) !important;
      }

      &::-webkit-input-placeholder {
          // @apply text-warn;
          --tw-text-opacity: 1 !important;
          color: rgba(var(--fuse-warn-rgb), var(--tw-text-opacity)) !important;
      }

      &:-ms-input-placeholder {
          // @apply text-warn;
          --tw-text-opacity: 1 !important;
          color: rgba(var(--fuse-warn-rgb), var(--tw-text-opacity)) !important;
      }
  }
}


/* ----------------------------------------------------------------------------------------------------- */
/*  @ Icon
/* ----------------------------------------------------------------------------------------------------- */
.mat-icon {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  font-size: 24px;
  line-height: 24px;
  -webkit-appearance: none !important;
}


/* Fix the outline appearance */
.mat-form-field.mat-form-field-appearance-outline {

  .mat-form-field-wrapper {

      .mat-form-field-flex {

          .mat-form-field-outline {
              @apply text-gray-300 dark:text-gray-500;
          }
      }
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Textarea
/* ----------------------------------------------------------------------------------------------------- */
textarea.mat-input-element {
  box-sizing: content-box !important;
}
