<div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
  <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404"
    fill="none" viewBox="0 0 784 404">
    <defs>
      <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20"
        patternUnits="userSpaceOnUse">
        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
      </pattern>
    </defs>
    <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
  </svg>
  <div class="mt-16 sm:mt-24 lg:mt-0 lg:col-span-6">
    <div class="bg-white sm:max-w-md sm:w-full sm:mx-auto sm:rounded-lg sm:overflow-hidden">
      <div class="px-4 py-4 sm:px-10">
        <div class="mt-4">
          <!-- Sign Up form -->
          <form class="mt-0" [formGroup]="memberShipForm">

            <!-- Name field -->
            <mat-form-field class="cust-mat-dense w-full">
              <mat-label>Full name</mat-label>
              <input id="name" matInput formControlName="fullname">
              <mat-error *ngIf="memberShipForm.get('fullname')?.hasError('required')">
                Full name is required
              </mat-error>
            </mat-form-field>

            <!-- User Name field -->
            <mat-form-field class="cust-mat-dense w-full">
              <mat-label>Username</mat-label>
              <input id="name" matInput formControlName="username">
              <mat-error *ngIf="memberShipForm.get('username')?.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>

            <!-- Email field -->
            <mat-form-field class="cust-mat-dense w-full">
              <mat-label>Email address</mat-label>
              <input id="email" matInput formControlName="email">
              <mat-error *ngIf="memberShipForm.get('email')?.hasError('required')">
                Email address is required
              </mat-error>
              <mat-error *ngIf="memberShipForm.get('email')?.hasError('email')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>


            <!-- Mobile field -->
            <mat-form-field class="cust-mat-dense w-full">
              <mat-label>Mobile</mat-label>
              <input id="mobile" matInput formControlName="mobile">
              <mat-error *ngIf="memberShipForm.get('mobile')?.hasError('required')">
                Mobile Number is required
              </mat-error>
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="cust-mat-dense w-full">
              <mat-label>Password</mat-label>
              <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
              <button mat-icon-button type="button"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <span *ngIf="passwordField.type === 'password'" class="text-gray-400 text-lg material-icons">
                  visibility
                </span>
                <span *ngIf="passwordField.type === 'text'" class="text-gray-400 text-lg material-icons">
                  visibility_off
                </span>

              </button>
              <mat-error>
                Password is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="cust-mat-dense w-full">
              <mat-label>Current city</mat-label>
              <mat-select formControlName="currentcity" [placeholder]="'Country / Region'">
                <mat-option value="" disabled="" selected="">Current city</mat-option>
                <mat-option value="Ahmedabad">Ahmedabad</mat-option>
                <mat-option value="Bangalore">Bangalore</mat-option>
                <mat-option value="Chandigarh">Chandigarh</mat-option>
                <mat-option value="Chennai">Chennai</mat-option>
                <mat-option value="New Delhi">New Delhi</mat-option>
                <mat-option value="Hyderabad">Hyderabad</mat-option>
                <mat-option value="Jaipur">Jaipur</mat-option>
                <mat-option value="Cochin">Cochin</mat-option>
                <mat-option value="Kolkata">Kolkata</mat-option>
                <mat-option value="Lucknow">Lucknow</mat-option>
                <mat-option value="Mumbai">Mumbai</mat-option>
                <mat-option value="Pune">Pune</mat-option>
              </mat-select>
              <mat-error *ngIf="memberShipForm.get('currentcity')?.hasError('required')">
                Current city is required
              </mat-error>

          </mat-form-field>

            <mat-form-field class="cust-mat-dense w-full">
              <mat-label>Age Group</mat-label>
              <mat-select formControlName="agegroup" [placeholder]="'Country / Region'">
                <mat-option value="" disabled="" selected="">Age group</mat-option>
                <mat-option value="24">&lt;24</mat-option>
                <mat-option value="25-28">25-28</mat-option>
                <mat-option value="29-35">29-35</mat-option>
                <mat-option value="36-49">36-49</mat-option>
                <mat-option value="50-55">50-55</mat-option>
                <mat-option value=">55">&gt;55</mat-option>
              </mat-select>
              <mat-error *ngIf="memberShipForm.get('agegroup')?.hasError('required')">
                Age group is required
              </mat-error>

          </mat-form-field>


            <!-- Submit button -->
            <button class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500" mat-flat-button
              [disabled]="memberShipForm.invalid" (click)="signUp()">
              <span *ngIf="!memberShipForm.disabled">
                Submit
              </span>
              <mat-progress-spinner *ngIf="memberShipForm.disabled" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
            </button>

          </form>
        </div>
      </div>
      <div class="px-4 py-6 bg-gray-50 border-t-2 border-gray-200 sm:px-10">
        <p class="text-xs leading-5 text-gray-500">By signing up, you agree to our <a href="#"
            class="font-medium text-gray-900 hover:underline">Terms</a>, <a href="#"
            class="font-medium text-gray-900 hover:underline">Data Policy</a> and <a href="#"
            class="font-medium text-gray-900 hover:underline">Cookies Policy</a>.</p>
      </div>
    </div>
  </div>

</div>
