<div class="bg-white">
  <div class="max-w-xl mx-auto py-10 px-4 sm:py-10 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:flex sm:items-baseline sm:justify-between flex">
      <h3 class="flex-initial w-4/5 text-2xl tracking-tight text-amber-500 hover:text-amber-500 font-semibold">Most Loved Destinations
        <p class="mt-2 text-sm text-gray-500 font-medium">With access to 100+ resorts in India and abroad, no two
          holidays will ever be the same. Stay at your favourite destinations or make a list of new ones to explore. By
          the time you decide upon your magical holiday, we would have added some more.</p>
      </h3>
      <a href="#"
        class="text-right w-1/5 hidden text-sm font-semibold text-amber-500 hover:text-amber-500 sm:block ml-auto">View
        All<span aria-hidden="true"> &rarr;</span></a>
    </div>

    <div class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-4 lg:gap-x-6">
      <a href="#" class="group block">
        <div aria-hidden="true"
          class="aspect-w-3 aspect-h-2 rounded-sm overflow-hidden group-hover:opacity-75 lg:aspect-w-5 lg:aspect-h-6">
          <img src="assets/images/locations/location1.jpg"
            alt="Brown leather key ring with brass metal loops and rivets on wood table."
            class="w-full h-full object-center object-cover">
        </div>
        <h3 class="mt-4 text-base font-semibold text-sky-600 dark:text-sky-500">Symphony Palms, Havelock Island</h3>
        <div class="mt-2 text-sm text-gray-900 flex items-center">
          <div class="icon-l mr-2">
            <svg class="w-6 h-6 stroke-2 stroke-blue-300" fill="none" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
          </div>
          <p class="location-name">
            Port Blair, Andaman and Nicobar Islands
          </p>
        </div>
      </a>

      <a href="#" class="group block">
        <div aria-hidden="true"
          class="aspect-w-3 aspect-h-2 rounded-sm overflow-hidden group-hover:opacity-75 lg:aspect-w-5 lg:aspect-h-6">
          <img src="assets/images/locations/location2.jpg"
            alt="Natural leather mouse pad on white desk next to porcelain mug and keyboard."
            class="w-full h-full object-center object-cover">
        </div>
        <h3 class="mt-4 text-base font-semibold text-sky-600 dark:text-sky-500">Symphony Samudra</h3>
        <div class="mt-2 text-sm text-gray-900 flex items-center">
          <div class="icon-l mr-2">
            <svg class="w-6 h-6 stroke-2 stroke-blue-300" fill="none" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
          </div>
          <p class="location-name">
            Port Blair, Andaman and Nicobar Islands
          </p>
        </div>
      </a>

      <a href="#" class="group block">
        <div aria-hidden="true"
          class="aspect-w-3 aspect-h-2 rounded-sm overflow-hidden group-hover:opacity-75 lg:aspect-w-5 lg:aspect-h-6">
          <img src="assets/images/locations/location3.jpg"
            alt="Person placing task list card into walnut card holder next to felt carrying case on leather desk pad."
            class="w-full h-full object-center object-cover">
        </div>
        <h3 class="mt-4 text-base font-semibold text-sky-600 dark:text-sky-500">RVR Sarovar Portico Dindi</h3>
        <div class="mt-2 text-sm text-gray-900 flex items-center">
          <div class="icon-l mr-2">
            <svg class="w-6 h-6 stroke-2 stroke-blue-300" fill="none" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
          </div>
          <p class="location-name">
            Razole, Andhra Pradesh
          </p>
        </div>
      </a>

      <a href="#" class="group block">
        <div aria-hidden="true"
          class="aspect-w-3 aspect-h-2 rounded-sm overflow-hidden group-hover:opacity-75 lg:aspect-w-5 lg:aspect-h-6">
          <img src="assets/images/locations/location4.jpg"
            alt="Person placing task list card into walnut card holder next to felt carrying case on leather desk pad."
            class="w-full h-full object-center object-cover">
        </div>
        <h3 class="mt-4 text-base font-semibold text-sky-600 dark:text-sky-500">Azzaro Resorts and Spa</h3>
        <div class="mt-2 text-sm text-gray-900 flex items-center">
          <div class="icon-l mr-2">
            <svg class="w-6 h-6 stroke-2 stroke-blue-300" fill="none" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
          </div>
          <p class="location-name">
            Diu, Daman and Diu
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
