


<div class="max-w-7xl mx-auto">
  <h1 class="text-2xl font-semibold text-gray-900">Profile Details</h1>
</div>
<form class="flex flex-col mt-4 bg-card shadow rounded overflow-hidden" [formGroup]="profileForm"
  #profileNgForm="ngForm">
  <div class="bg-gray-50 dark:bg-gray-700 p-8 py-3  border-t border-b">
    <p class="text-base font-medium">Profile</p>
    <p class="text-sm text-secondary">People here will get to know you with this information</p>
  </div>
  <div class="flex flex-col p-8">
    <div class="grid grid-cols-3 gap-y-1 gap-x-8">
      <mat-form-field class="fuse-mat-dense flex-auto">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="fuse-mat-dense flex-auto">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>

      <mat-form-field class="fuse-mat-dense flex-auto">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="fuse-mat-dense flex-auto">
        <mat-label>Phone</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="dateOfBirth" formControlName="dob">
        <mat-datepicker-toggle matIconSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
        <mat-datepicker #dateOfBirth></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="flex flex-col gt-xs:flex-row">
      <span class="font-semibold mb-2 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Languages</span>
      <div class="flex flex-row gap-x-4">
        <div class="capitalize" *ngFor="let language of languagesList; let i = index">
          <mat-checkbox [value]="language" [checked]="userData?.languages.includes(language)" (change)="onCheckboxChange(language, $event)" class="mb-2"
            [color]="'primary'">
            {{language}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-50 dark:bg-gray-700 p-8 py-3 border-t border-b">
    <p class="text-base font-medium">Family Details</p>
    <p class="text-sm text-secondary">People here will get to know you with this information</p>
  </div>
  <div class="flex flex-col p-8">
    <div class="grid grid-cols-3 gap-y-1 gap-x-8">
      <mat-form-field class="fuse-mat-dense flex-auto">
        <mat-label>Spouse</mat-label>
        <input matInput formControlName="spouseName">
      </mat-form-field>
      <mat-form-field class="fuse-mat-dense flex-auto">
        <mat-label>Spouse Age</mat-label>
        <input matInput formControlName="spouseName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Anniversary</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="anniversary">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="flex my-2 items-center">
      <h1 class="text-base font-semibold text-gray-700 mr-6">Add Children</h1>
      <button mat-mini-fab (click)="addChildren()">
        <mat-icon class="add-course-btn">add</mat-icon>
      </button>
    </div>

    <ng-container formArrayName="children">
      <ng-container *ngFor="let childrenForm of children.controls; let i = index">
        <div class="lesson-form-row" [formGroupName]="i">
          <div class="grid grid-cols-3 gap-y-1 gap-x-8 items-center">
            <mat-form-field class="fuse-mat-dense flex-auto">
              <mat-label>Children {{i+1}} Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense flex-auto">
              <mat-label>Children {{i+1}} Age</mat-label>
              <input matInput formControlName="age" placeholder="Child Age">
            </mat-form-field>
            <mat-icon class="delete-btn" (click)="deleteChildren(i)">
              delete_forever</mat-icon>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
    <button mat-button>
      Cancel
    </button>
    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="save()">
      Save
    </button>
  </div>
</form>
