<div class="max-w-7xl mx-auto pb-4">
  <h1 class="text-2xl font-semibold text-gray-900">Refer and Earn</h1>
</div>
<div class="relative">
  <div class="relative max-w-7xl mx-auto gap-8 grid grid-cols-5">
    <div class="pr-4 col-span-3 border-r">
      <div class="mt-12 lg:mt-0 lg:col-span-2">
        <dl class="space-y-12">
          <div>
            <dt class="text-lg leading-6 font-medium text-orange-400 font-semibold ">How do you make holy water?</dt>
            <dd class="mt-2 text-base text-gray-500">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived
              not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s
              with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum.</dd>
          </div>

          <div>
            <dt class="text-lg leading-6 font-medium text-orange-400 font-semibold ">How do you make holy water?</dt>
            <dd class="mt-2 text-base text-gray-500">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived
              not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s
              with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum.</dd>
          </div>

          <!-- More questions... -->
        </dl>
      </div>
    </div>
    <div class="px-4 flex items-center justify-end col-span-2">
      <div class="max-w-lg mx-auto w-full">
        <div class="flex flex-col flex-auto p-4 pb-6 overflow-hidden">
          <!-- Reset password form -->
          <form class="">

            <div class="sm:flex sm:items-center mb-3">
              <mat-label class="w-4/12 text-right pr-4">Full Name</mat-label>
              <mat-form-field class="fuse-mat-dense flex-auto w-8/12">
                <input matInput class="p-1">
              </mat-form-field>
            </div>
            <div class="sm:flex sm:items-center mb-3">
              <mat-label class="w-4/12 text-right pr-4">Phone</mat-label>
              <mat-form-field class="fuse-mat-dense flex-auto w-8/12">
                <input matInput class="p-1">
              </mat-form-field>
            </div>
            <div class="sm:flex sm:items-center mb-3">
              <mat-label class="w-4/12 text-right pr-4">Email</mat-label>
              <mat-form-field class="fuse-mat-dense flex-auto w-8/12">
                <input matInput class="p-1">
              </mat-form-field>
            </div>
            <!-- Submit button -->
            <button type="submit" class="ml-3 float-right w-full inline-flex items-center justify-center px-6 py-1 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:w-auto">Save</button>
            <!-- <button class="fuse-mat-button-large w-full mt-3" mat-flat-button [color]="'primary'">
              <span>
                Save
              </span>

            </button> -->

          </form>
        </div>
      </div>
    </div>
  </div>
</div>