<div class="bg-gray-50">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:py-12 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">Key Features</h2>
      <p class="mt-1 text-lg text-gray-500">These are the membership key points and features.</p>
    </div>
    <dl class="mt-6 space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-8 w-8 rounded-sm bg-amber-400 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
            </svg>

          </div>
          <p class="ml-12 text-base leading-6 font-semibold text-gray-800">Membership validity </p>
        </dt>
        <dd class="mt-0 ml-12 text-sm text-gray-600">Membership is valid for 8 years for the fee of Rs 20000 Plus GST.</dd>
      </div>

      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-8 w-8 rounded-sm bg-amber-400 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
            </svg>
          </div>
          <p class="ml-12 text-base leading-6 font-semibold text-gray-800">Membership EMI </p>
        </dt>
        <dd class="mt-0 ml-12 text-sm text-gray-600">Membership can be converted to EMI with zero interest rate.</dd>
      </div>

      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-8 w-8 rounded-sm bg-amber-400 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
            </svg>
          </div>
          <p class="ml-12 text-base leading-6 font-semibold text-gray-800">Maintenance Fee </p>
        </dt>
        <dd class="mt-0 ml-12 text-sm text-gray-600">Maintenance fee of Rs 1000 per year from 3rd year of registration.</dd>
      </div>


      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-8 w-8 rounded-sm bg-amber-400 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
          </div>
          <p class="ml-12 text-base leading-6 font-semibold text-gray-800">Membership Transfer </p>
        </dt>
        <dd class="mt-0 ml-12 text-sm text-gray-600">Membership can be transferred with after 18 months with a minimum cost of Rs 1000 plus
          GST..</dd>
      </div>


      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-8 w-8 rounded-sm bg-amber-400 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
            </svg>

          </div>
          <p class="ml-12 text-base leading-6 font-semibold text-gray-800">Each Member Eligible </p>
        </dt>
        <dd class="mt-0 ml-12 text-sm text-gray-600">Each member is eligible for 6 nights per year on 2 nights booking basis.</dd>
      </div>



      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-8 w-8 rounded-sm bg-amber-400 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"></path><path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path></svg>
          </div>
          <p class="ml-12 text-base leading-6 font-semibold text-gray-800">Membership Gift </p>
        </dt>
        <dd class="mt-0 ml-12 text-sm text-gray-600">Membership days can be Gifted.</dd>
      </div>

      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-8 w-8 rounded-sm bg-amber-400 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z"></path></svg>
          </div>
          <p class="ml-12 text-base leading-6 font-semibold text-gray-800">Booking Gap </p>
        </dt>
        <dd class="mt-0 ml-12 text-sm text-gray-600">There should be a gap of 45 days for each booing and need to book his slot minimum 15
          days prior to travel.</dd>
      </div>



      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-8 w-8 rounded-sm bg-amber-400 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z"></path></svg>
          </div>
          <p class="ml-12 text-base leading-6 font-semibold text-gray-800">Membership South Sates</p>
        </dt>
        <dd class="mt-0 ml-12 text-sm text-gray-600">Membership covers majorly south sates of India. Andhra Pradesh, Telangana, Karnataka, Kerala, Tamil Nadu, Pondicherry, Goa</dd>
      </div>

      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-8 w-8 rounded-sm bg-amber-400 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg>
          </div>
          <p class="ml-12 text-base leading-6 font-semibold text-gray-800">Member Exit </p>
        </dt>
        <dd class="mt-0 ml-12 text-sm text-gray-600">Exit option to customers after 18 months of registration.</dd>
      </div>

    </dl>
  </div>
</div>

